<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
	<display-name>Archetype Created Web Application</display-name>
	<description>Interview Web App</description>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.vm</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>InterviewServlet</servlet-name>
		<servlet-class>org.interview.servlet.InterviewServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>InterviewServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>InterviewFilter</filter-name>
		<filter-class>org.interview.servlet.InterviewFilter</filter-class>
		<init-param>
			<param-name>ignores</param-name>
			<param-value>.js,.css,.scss,.png,.jpg,.gif,.bmp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>InterviewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>org.interview.servlet.InterviewListener</listener-class>
	</listener>
</web-app>
